extends layout  
  
append content
            //hot list didapatkan dari yang paling terakhir didaftarkan(sort by id dan limit 3 teratas),begitu juga dengan kategori dibawahnya
            //untuk sementara kategori dibawah tidak bisa dicustom,nantinya admin disediakan cara memilih kategori yang akan ditampilkan di halaman depan pengguna
            .features_items
              // features_items
              h2.title.text-center HOT LIST
              each value in hotlist
                .col-sm-4
                  table(style='font-size:9pt')
                      tr: td(colspan='2'): img(src='/images/hotlist/#{value.gambar}', width='250px')
                      tr: td(width='110px'): b: a(href='cariproduk/#{value.nama}') #{value.nama}
                          td mulai dari Rp #{value.harga_mulai}
            br
            br
            br
            .features_items
              // features_items
              h2.title.text-center SMARTPHONE TERLARIS
              each value in smartphone
                .col-sm-4
                    table(style='font-size:9pt')
                      tr: td(colspan='2'): img(src='/images/hotlist/#{value.gambar}', width='250px')
                      tr: td(width='110px'): b: a(href='cariproduk/#{value.nama}') #{value.nama}
                        td mulai dari Rp #{value.harga_mulai}
            br
            br
            br
            .features_items
              // features_items
              h2.title.text-center PAKAIAN TERLARIS
              each value in pakaian
                .col-sm-4
                    table(style='font-size:9pt')
                      tr: td(colspan='2'): img(src='/images/hotlist/#{value.gambar}', width='250px')
                      tr: td(width='110px'): b: a(href='cariproduk/#{value.nama}') #{value.nama}
                        td mulai dari Rp #{value.harga_mulai}
            br
            br
            br