extends ../layoutBelanja  
  
append content
  .well
    h2 #{kategori.nama} 
    p(style='width:370px') #{kategori.deskripsi}

  .col-sm-9
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Kendari
        option(value='barokah')  Cianjur
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Semua Etalase
        option(value='barokah')  Gudang
        option(value='barokah')  Pengawasan
    .col-sm-3
      input(placeholder='Min')
    .col-sm-2
      input(placeholder='Maks')
    hr
    br
    if(listProduk.length == 0)
     .alert.alert-danger  
      center 
       h4 
        b Tidak Ada Produk                                     
    script.    
            function numberFormat(_number, _sep) {
                _number = typeof _number != "undefined" && _number > 0 ? _number : "";
                _number = _number.replace(new RegExp("^(\\d{" + (_number.length%3? _number.length%3:0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
                if(typeof _sep != "undefined" && _sep != " ") {
                    _number = _number.replace(/\s/g, _sep);
                }
                return _number;
            }

    div()
      each value,n in listProduk
        div(style='width:160px;height:270px;float:left')
            |<a href='/produk/detail/#{kategori.url}/#{value._id}'>
            | <img src='/images/produk/#{value.gambar}', style='height: 150px;width:140px'/> <br/> </a>
            | <h4> Rp <span class='uang'> </h4>
            | <a href='/produk/detail/#{kategori.url}/#{value._id}'> #{value.nama} </a><br/>
            | <i class='fa fa-dribbble'></i>  jakarta <br/><a href='#'> Barokah Clothing</a>
            script.
                document.getElementsByClassName("uang")[#{n}].innerHTML = numberFormat("#{value.harga}",".");
  .col-sm-3(style='padding-left:40px')
        h3 Promote
        - for (var n = 0;n<2;n++){
        .row(style='width:280px;height:270px')
            | <a href='/produk/detail/#{kategori.url}/#{listProduk[n]._id}'>
            | <img src='/images/produk/#{listProduk[n].gambar}', style='height: 150px;width:140px'/> <br/> </a>
            | <h4> Rp <span class='uang'> </h4>
            | <a href='/produk/detail/#{kategori.url}/#{listProduk[n]._id}'> #{listProduk[n].nama} </a> <br/>
            | <i class='fa fa-dribbble'></i>  jakarta <br/><a href='#'> Barokah Clothing</a>
            script.
                document.getElementsByClassName("uang")[#{n}].innerHTML = numberFormat("#{listProduk[n].harga}", ".");
        - }
